* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(223, 219, 219);
  margin: 3%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  padding: 100px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  background-color: #fff;
}

.divD1 {
  display: flex;
  flex-direction: column;
}

.heading {
  width: 90px;
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
}

.head1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: -12px;
}

.head1 h4 {
  margin: 0;
  font-size: 15px;
}

.imgDiv img {
  max-width: 100%;
  mix-blend-mode: darken;
  max-height: 100%;
}

.head1 p {
  margin: 0;
  color: rgb(155, 152, 152);
  font-size: 11px;
  margin-left: auto;
}

.lid1 {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

ul {
  list-style: none;
  padding: 0;
  width: fit-content;
  margin: 0;
}

ul li:hover {
  font-size: 18px;
}

.time {
  font-size: 12px;
  width: max-content;
  color: rgb(155, 152, 152);
}

.icon img {
  width: 25px;
  margin-top: -5px;
  mix-blend-mode: darken;
}

.title {
  color: rgb(59, 55, 55);
  font-weight: 500;
  margin-top: -3px;
  cursor: pointer;
}

.t1 {
  color: rgb(92, 176, 224);
  font-weight: 500;
  margin-top: -3px;
  cursor: pointer;
}

.profilediv {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.profilediv img {
  width: 25px;
  margin-left: 10px;
  mix-blend-mode: darken;
}

.profilediv .name {
  font-size: 13px;
  margin-top: 5px;
  color: rgb(155, 152, 152);
  cursor: auto;
}

.horizontal-line {
  width: 100%;
  margin-left: 65px;
  border-top: 1px dotted #ccc;
}

.vertical-line {
  width: 1px;
  height: 30px;
  background-color: #ccc;
  margin-left: 65px;
  border-radius: 1px;
}

.vertical-line-pro,
.vertical-line-pro-diff {
  width: 1px;
  height: 30px;
  background-color: #ccc;
  margin-left: -19px;
  border-radius: 1px;
}


@media (max-width: 768px) {

  .body {
    background-color: #fff;
    margin: 0;
    justify-content: center;
    align-items: center;
  }

  .container {
    margin: 0;
    padding: 20px 50px 20px 20px;
    width: 100%;
    border-radius: 10px;
  }

  .heading {
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    gap: 10px;
  }

  .divD1 {
    width: 116%;
  }

  .t1 {
    font-size: 13px;
  }

  .time {
    white-space: nowrap;
  }

  .head1 {
    align-items: flex-start;
    margin-top: 0;
  }

  .title {
    font-size: 12px;
  }

  .profilediv .name {
    font-size: 9px;
  }

  .vertical-line-pro-diff {
    width: 1px;
    height: 45px;
    background-color: #ccc;
    margin-left: -19px;
    border-radius: 1px;
  }
}